.App {
  text-align: center;
}
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 350px;
}
.movie-info > p {
  display: grid;
  grid-template-columns: 100px auto;
  text-align: left;
}
.movie-info > p :nth-child(2n + 1) {
  font-weight: bold;
}

.movie-info-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}